@import url('https://fonts.googleapis.com/css?family=Merriweather&serif=Kanit&serif=swap');
:root{
    --primary-color: #c58f31;
    --secondary-color: #105a63;
    --accent1-color: #c2feff;
    --accent2-color: #f7a072;

    --heading-font: 'Kanit', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #f8f7de;
    --nav-link-color: #050556;
    --nav-hover-link-color: #3139a7;
    --nav-hover-background-color: #f7a072;
}

nav a { text-decoration: none;}

* { max-width: 990px;}

h1 {
    position: absolute;
    top: 280px;
    left: 280px;
    background-color: #E1F8DC;
    font-family: var(--heading-font);
    color: var(--primary-color);
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

body {background-color: var(--nav-background-color);}

article p {
    color: var(--accent1-color);
}

article {
    position: absolute;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 4px;
    float: right;
    left: 20px;
    top: 400px;
    display: flex;
}

.hero img {
    position: relative;
    display: block;
    width: 100%;
    height: auto;
}