@import url('https://fonts.googleapis.com/css?family=Merriweather&serif=Kanit&serif=swap');
:root{
    --primary-color: #c58f31;
    --secondary-color: #728fed;
    --accent1-color: #c2feff;
    --accent2-color: #f7a072;

    --heading-font: 'Kanit', serif;
    --paragraph-font: 'Merriweather', serif;

    --nav-background-color: #f8f7de;
    --nav-link-color: #050556;
    --nav-hover-link-color: #3139a7;
    --nav-hover-background-color: #f7a072;
}

body, h1, h2, p, a {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    background-color: var(--nav-background-color);
    max-width: 990px;
}

h1, h2, p {
    font-family: var(--heading-font);
    color: var(--primary-color);
    margin: 10px 0;
}

h1 {
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 250px;
    font-family: var(--heading-font);
    color: var(--secondary-color);
    font-size: 36px;
}

h2 {
    font-size: 24px;
}

p {
    font-family: var(--paragraph-font);
    color: var(--secondary-color);
}

header img {
    max-width: 100%;
}

nav {
    margin-top: 10px;
}

nav a {
    color: var(--secondary-color);
    margin: 0 10px;
}

article p {
    color: var(--accent1-color);
}

article {
    text-align: center;
    position: absolute;
    padding: 20px;
    z-index: 1;
    margin: 4px;
    left: 1px;
    top: 150px;
}

article img {
    float: right;
    max-width: 100%;
    margin-left: 20px;
}

section {
    text-align: center;
    margin: 20px 0;
}

section img {
    max-width: 100%;
    margin: 10px;
}

.hero {
    position: relative;
    text-align: center;
}

.hero img {
    display: block;
    max-width: 100%;
    height: auto;
}

.sociallinks a {
    margin: 0 10px;
    text-decoration: none;
    color:var(--nav-hover-link-color)
}